altgraph==0.17.3
macholib==1.16.2
pygame==2.1.2
pygame-gui==0.6.4
pyinstaller==5.5
pyinstaller-hooks-contrib==2022.10
pynput==1.7.6
pyobjc-core==8.5.1
pyobjc-framework-ApplicationServices==8.5.1
pyobjc-framework-Cocoa==8.5.1
pyobjc-framework-Quartz==8.5.1
python-i18n==0.3.9
six==1.16.0
